[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "https://www.yourtradepartner.com.au/*"
  to = "https://yourtradepartner.com.au/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
